@use "../../assets/scss/variables";

.custom-avatar-group {
  display: flex;
  align-items: center;

  .visible-users-avatar {
    border: 2px solid variables.$white;
    margin-left: -8px;
  }

  .more-users-avatar {
    background-color: variables.$mediumGray;
    border: 2px solid variables.$white;
    margin-left: -8px;
  }
}

.popover-outer-container {
  padding: 1rem;

  .popover-inner-container {
    overflow-y: auto;
    max-height: 100px;

    .popover-more-users {
      display: flex;
      align-items: center;
      margin-right: 1rem !important;

      .popover-more-users-avatar {
        width: 32px;
        height: 32px;
        font-size: 1rem;
        margin-right: 1rem;
      }
    }
  }
}
