@use "../../assets/scss/variables";

.current-user-reply-message-container {
  display: flex;
  justify-content: flex-start;
  margin: 4px 0;

  .current-user-message {
    border-radius: 0px 50px 50px 50px;
    background-color: variables.$lightGray;
    margin: 4px 0;
    width: fit-content;
    max-width: 50%;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    // align-self: flex-start;
    // cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .current-user-message-replied-to {
      cursor: pointer;
      // font-style: italic;
      background-color: variables.$silver;
      color: variables.$white;
      border-radius: 20px;
      padding: 8px;
      white-space: pre-wrap;
      //   width:100%;
    }

    .current-user-message-username {
      background-color: variables.$silver;
      color: variables.$white;
      border-radius: 20px;
      padding: 8px;
    }

    .current-user-message-text {
      width: 100%;
      margin: 4px 8px;
    }

    .current-user-message-edited-at,
    .current-user-message-deleted {
      margin: 4px 8px;
      font-style: italic;
    }
  }

  .message-action-buttons-container {
    padding: 8px 16px;

    .edit-message-button,
    .delete-message-button,
    .reply-to-message-button {
      background-color: variables.$lightGray;
      margin: 0px 4px;
    }
  }
}

.other-user-reply-message-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  margin: 4px 0;

  .other-user-message {
    border-radius: 50px 0px 50px 50px;
    background-color: variables.$primaryColor;
    margin: 4px 0;
    width: fit-content;
    max-width: 50%;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    // align-self: flex-end;
    // cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: variables.$white;

    .other-user-message-replied-to {
      cursor: pointer;
      // font-style: italic;
      background-color: variables.$white;
      color: variables.$primaryColor;
      border-radius: 20px;
      margin: 4px 8px;
      padding: 8px;
      white-space: pre-wrap;
      //   width: 100%;
    }

    .other-user-message-username {
      background-color: variables.$white;
      color: variables.$primaryColor;
      border-radius: 20px;
      margin: 4px 8px;
      padding: 8px;
    }

    .other-user-message-text {
      width: 100%;
      margin: 4px 16px;
    }

    .other-user-message-edited-at,
    .other-user-message-deleted {
      margin: 4px 16px;
      font-style: italic;
    }
  }

  .message-action-buttons-container {
    padding: 8px 16px;

    .reply-to-message-button {
      background-color: variables.$lightGray;
      margin: 0px 4px;
    }
  }
}
