@import "../../assets/scss/variables";

.navbar {
  padding: 10px;
  background-color: $primaryColor;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
  position: static !important;

  @media (max-width: 768px) {
    flex-direction: column !important;
    align-items: flex-start;
  }

  .user-profile-container {
    display: flex;
    align-items: center;
    margin: 10px;

    .greeting-header {
      margin-left: 10px;
    }
  }

  .room-id-container {
    display: flex;
    flex-direction: column;
    margin: 10px;

    .copy-icon {
      margin: 0 10px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .custom-avatar-group-container {
    margin: 10px 10px 10px 18px;
  }
}
